{% extends "base.html" %}

{% block content %}
    <h2>Libros</h2>

    <form method="post">
        <label>Título:</label>
        <input type="text" name="title" required>

        <label>Copias:</label>
        <input type="number" name="copies" min="1" required>

        <button type="submit">Crear usuario</button>
    </form>

    <h3>Lista de libros</h3>
    <ul>
        {% for book in books %}
            <li>{{ book.title }} ({{ book.total_copies }} copias)</li>
        {% endfor %}
    </ul>
{% endblock %}