{% extends "base.html" %}

{% block content %}
    <h2>Préstamos</h2>

    <form method="post">
        <label>ID Usuario:</label>
        <input type="number" name="user_id" required>
        
        <label>Libro:</label>
        <select name="book_id" required>
            {% for book in books %}
                <option value="{{ book['id'] }}"
                {% if book['available_copies'] <= 0 %} disabled {% endif %}>
                    {{ book['title'] }} ({{ book['available_copies'] }} disponibles)
                </option>
            {% endfor %}
        </select>
        
        <button type="submit">Crear préstamo</button>
    </form>

    <h3>Préstamos activos</h3>
    <table border="1">
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Libro</th>
                <th>Estado</th>
            </tr>
        {% for loan in loans %}
            <tr>
                <td>{{ loan['id'] }}</td>
                <td>{{ loan['name'] }}</td>
                <td>{{ loan['title'] }}</td>
                <td>{{ loan['status'] }}</td>
                <td>
                    {% if loan['status'] == 'ACTIVE' %}
                        <form method="post" action="/loans/return/{{ loan['id'] }}">
                            <button type="submit">Devolver</button>
                        </form>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}